h1 {
    text-align: center;
}
.languages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    background: rgb(247, 236, 165);
}
.new {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    background: rgb(247, 236, 165);
    margin-bottom: 30px;
}
.card-title {
    background: rgb(247, 236, 165);
}
.green {
    color: green;
}
.topnav {
    text-align: center;
    margin-bottom: 25px;
}
body {
    margin: 30px;
    border-style: solid;
}
.credit {
    font-size: smaller;
    margin-top: 25px;
}

main {
    margin: 0 25px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border-style: solid;
    background: rgb(231, 250, 231)
}
.smallfont {
    font-size: 75%;
    color: red;
}
.skills {
    background: rgb(247, 236, 165)
}
